.btn-primary {
    background-color: $brand-primary;
    border-color: $brand-primary;
    &:hover {
        background-color: darken($brand-primary, 5);
    }
}

.btn-secondary {
    background-color: $brand-secondary;
    border-color: $brand-secondary;
    &:hover {
        background-color: darken($brand-secondary, 5);
    }
}
.btn-outline-primary {
    border-color: $brand-primary;
    color: $brand-primary;
    &:hover {
        background-color: darken($brand-primary, 5);
        border-color: darken($brand-primary, 5);
    }
}
