.hero{
    background:#f3f3f3;
    color:#000;

    &--blue{
        background:blue;
        color:#fff;
    }

    &--red{
        background:red;
    }

    &__title{
    }

    &__image{
        opacity:0.5;
    }

    &__text{

        &__intro{
            color:grey;
        }

        &__body{
            color:darkred;
        }
    }
}

@media (max-width: #{map-get($breakpoints, mobile)}) {
    .hero{
        background:black;

        &__image{
            border:1px solid red;
        }
    }
}

