h1,h2,h3,h4,h5,h6{
    font-weight:bold!important;
}

.text-small{
    font-size:0.75rem!important;
}

p{
    color: #22354a;
    opacity: 0.85;
}

.large-para{
    font-size:1.25rem;
}

.bold-link{
    font-weight:bold!important;
}