.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.float-right{
    float:right;
}

.float-left{
    float:left;
}

.margin-top{
    margin-top:20px;
}

.margin-bottom{
    margin-bottom:20px;
}

.no-mb{
    margin-bottom:0;
}

.text-left{
    text-align: left;
}

.link-style{
    text-decoration: underline;
}