@import "../mixins/box-shadow-mixin";
@import "../mixins/transition-mixin";

.popover {
	@include transition(all 300ms ease);
	border: none;
	background-color: white;
	color: $body-color;
	z-index: 2000;
	width: 100%;
	transform-origin: top;
	position: absolute;
	overflow: hidden;
	transform: scaleY(0);
	opacity: 0;
	min-width: 200px;
	&.in {
		@include box-shadow();
		transform: scaleY(1);
		height: auto;
		opacity: 1;
	}
	a {
		border-bottom: 1px solid #f1f1f1;
		display: block !important;
		padding-top: 10px !important;
		padding: 10px;
		text-align: center;
		&:hover {
			text-decoration: none;
			background: #f1f1f1;
		}
	}
}

.popover-right .popover-inner {
	left: auto;
	right: 40px;
}

.popover-inner {
	position: absolute !important;
	left: 10px;
}

.absolute {
	position: absolute !important;
}

.relative {
	position: relative !important;
}
