@import "../variables";

.horizontal-slider {
  width: 100%;
  max-width: 500px;
  height: 50px;
  border: 1px solid grey;
}

.vertical-slider {
  height: 380px;
  width: 50px;
  border: 1px solid grey;
}

.slider {
  height:20px;
}

.handle {
  height: 15px;
  width: 15px;
  margin: -6px;
  background-color: $brand-primary;
  border-radius: 50%;
  font-size: 0.9em;
  text-align: center;
  color: white;
  cursor: pointer;
}

.handle.active {
  background-color: $input-placeholder-color;
}

.bar {
  position: relative;
  background: $brand-primary;
  height: 2.5px;
  margin-right:7px;
}

.bar.bar-1 {
  background: $input-placeholder-color;
}

.horizontal-slider .bar {
  top: 20px;
  left:0;
  height: 10px;
}


.vertical-slider .handle {
  left: 1px;
  width: 48px;
  line-height: 50px;
}

.vertical-slider .bar {
  left: 20px;
  width: 10px;
}