@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";

// Adding fonts
//@font-face {
//  font-family: 'Proxima Nova';
//  src: url('/static/fonts/Proxima-Nova-Regular.woff');
//  font-display:swap;
//}
//@font-face {
//  font-family: 'Proxima Nova';
//  src: url('/static/fonts/Proxima-Nova-Semibold.woff');
//  font-weight:bold;
//  font-display:swap;
//}
//@font-face {
//  font-family: 'Proxima Nova Bold';
//  src: url('/static/fonts/Proxima-Nova-Semibold.woff');
//  font-display:swap;
//}

// COLORS
$brand-primary: #0d65df;
$brand-secondary: #D8315B;
$link-color: #05499b;
$body-bg: #f2f3f8;
$body-bg-alt: #fff;
//$sidebar-bg: #23414b;
$sidebar-bg: #292f3a;
$button-background: #4e5a64;
$button-color: #ebf0f6;
