@import "variables";
@import "3rdParty/index";
$menu-width: 400px;

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

html, body {
  background: $body-bg;
  font-family: Roboto, sans-serif;
  overflow: hidden;
  font-size: 18px;
}
.clickable {
  cursor: pointer;
}
.control-panel {
  height: 100vh;
  display: flex;
  flex-direction: column;

  width: $menu-width;
  @include transition(all 0.5s ease);
  overflow: hidden;
  &.hidden {
    margin-left: -($menu-width);
  }
  background: $sidebar-bg;
}
.nav {
  height: 64px;
  line-height: 64px;
  padding-left: 20px;
  width: 100%;
  align-self: stretch;
  background: $body-bg-alt;
}
.content {
  display: flex;
  flex-direction: column;
  flex:1;
  height: 100vh;
  overflow: hidden;
  .content-inner {
    margin: 20px;
    box-shadow: 0 0 6px 2px rgba(200,200,200,.2);
    border-radius: 4px;
    background: $body-bg-alt;
  }
}
#__next-build-watcher {
  display: none;
}
#__next-prerender-indicator {
  display: none;
}
$input-color: #b8bdc3;
$input-color-active: #ebf0f6;
.experiment-row {
  padding: 10px;
  .btn {
    float: right;
  }
}
input {
  width: $menu-width - 180;
  outline: none;
  background: transparent;
  border: 2px solid $input-color;
  &:focus{
    border-color: $input-color-active;
    color: $input-color-active;
  }
  line-height: 34px;
  color: $input-color;
  border-radius: 4px;
  margin-right: 10px;
  text-indent: 5px;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background: $button-background !important;
  color: $button-color !important;
  border: 2px solid transparent;
  outline: none!important;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {
  background: $button-secondary-background !important;
  border: 2px solid transparent;
}

.btn-danger {
  background-color: transparent;
  border-color: $danger;
  border-width: 2px;
  color: $button-color;
}
